.slider{
    position: relative;
    width:100%;
    height:100%;
    margin: 0 auto;
    max-height: 600px;
    min-height:600px;
    overflow:hidden;

}
.wrapper{
    position: relative;
}


.leftArrow:hover,
.rigthArrow:hover{
    color:var(--primary-color);
}

.slide{
    width: 100%;
    height: 100%;
    position:absolute;
    top:0%;
    max-height: 600px;
    display: flex;
    align-items:center;
    justify-content: center;
    transition: all 1.5s ease-out;
    opacity: 0;
}

.active{
    opacity: 1;
    
}

.rigthArrow{
    position: absolute;
    top:50%;
    right:30px;
    color : #000;
    font-size:30px;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease-in-out;
}

.leftArrow{
    position: absolute;
    top:50%;
    left:30px;
    color : #000;
    font-size:30px;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease-in-out;
}

.content{
    position: absolute;
    z-index:10;
    top:30%;
    left: 10%;  
}

.content h1{
    font-size:3rem;
    color:#000;
    font-family: 'Lato', sans-serif;
    margin:1.7rem 0rem;
    
}

.content button{
    background-color: var(--primary-color);
    outline: none;
    padding: 1rem 2.5rem;
    color: var(--body-background-color);
    font-size: 17px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    transition: all 1s ease;
    letter-spacing: 0.5px;
}

.content button:hover{
    background-color:var(--button-hover-bg-color);
    color:#FFF;
}






/* @media only screen and (max-width : 450px) */

@media only screen and (max-width :900px){

    .slider{
         max-height: 400px;
        min-height:400px;
    }

    .content h1{
        font-size:2rem;
        transition: all 0.5s ease-out;
        
    }
    .content button{
        padding: 0.5rem 1.5rem;
        font-size: 12px;
        border-radius: 18px;
        transition: all 0.5s ease-in-out;
        outline: none;
    }

    .rigthArrow{
        right:20px;
    }

    .leftArrow{ 
        left:20px;
    }

    .rigthArrow,
    .leftArrow{
        font-size:18px
    }
}

@media only screen and (max-width : 550px){

    .slider{
         max-height: 300px;
        min-height:300px;
    }

    .content h1{
        font-size:1.2rem;
        transition: all 0.5s ease-out;
        margin-bottom: 1rem;
        
    }
    .content button{
        padding: 0.3rem 1rem;
        font-size: 8px;
        border-radius: 10px;
        transition: all 0.5s ease-in-out;
        outline: none;
    }

    .rigthArrow{
        right:15px;
    }

    .leftArrow{ 
        left:15px;
    }

    .rigthArrow,
    .leftArrow{
        font-size:10px
    }
} 

@media only screen and (max-width : 400px){
    .slider{
         max-height: 250px;
        min-height:250px;
    }

    .content h1{
        font-size:1rem;
        transition: all 0.5s ease-out;
        
    }
    .content button{
        padding: 0.3rem 0.9rem;
        font-size: 7px;
        border-radius: 8px;
        transition: all 0.5s ease-in-out;
    }

    .rigthArrow,
    .leftArrow{
        font-size:10px
    }

    .rigthArrow{
        right:10px;
    }

    .leftArrow{ 
        left:10px;
    }
} 